@import url(https://fonts.googleapis.com/css?family=Sriracha);

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    overflow: hidden;
    display: flex; justify-content: space-between;
    background-color: #85b751;
    padding: 10px 10px;
    height: fit-content;
}

.header-left {
    float: left;
}

.header-center {
    float: center;
    font-family: "Sriracha";
    font-size: larger; color: white;
    padding-top: 25px;
}

.header-right {
    float: right;
    padding-top: 20px;
}

#logo_header {
    width: 311.75px;
    height: 70px;
}

.wa_button {
    border: none;
    background-color: #1d1d1d;
    cursor: pointer;
    font-family: "Sriracha";
    font-size: larger; color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    padding: 5px 10px;
}

.wa_button:hover {
    background-color: grey;
}

#link_wa {
    text-decoration: none;
    color: white;
}

/* card paket image */
.img_card {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    border: 3px solid black;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.img_card:hover {
    opacity: 0.7;
}

@media  screen and (max-width: 500px) {
    .header {
        float: none;
        display: block;
        text-align: left;
    }
    .header-left {
        float: none;
    }
    .header-center {
        float: none;
    }
    .header-right {
        float:none;
    }
}